<%# provide(:title, "Home") %>
<div class="welcome jumbotron">

<h1><span><em>Welcome to PORTEFEUILLE</em></span></h1>
<h2>Find me in app/views/static/home.html.erb</h2>

<%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
 <div class="pic">
 <%= link_to image_tag("money.jpg" , alt: "chess pic")  %>
 </div> 
